body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.box-central {
  max-width: 330px;
  margin: 0 auto;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin--heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-django input {
  width: 100%;
  padding: 6px;
  border-radius: 6px;
  border-style: solid;
  border-color: darkgrey;
  display: block;
}
/* Change the white to any color ;) */
.form-django input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: grey !important;
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .box-central {
    max-width: 600px;
  }
}
