{% extends 'installations/base.html' %}
{% block content %}
<div class="box-central">

  <p></p>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">{{ object.name }}</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <address>
              <strong>Status</strong><br>
              {{ status }}
            </address>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <address>
            <strong>Site Address</strong><br>
            {{ object.address_one }}<br>
            {{ object.address_two }}<br>
            {{ object.postcode }}<br>
          </address>
        </div>
        <div class="col-xs-6">
          <address>
            <strong>Contact</strong><br>
            {{ contact }}<br>
            {{ contact.phone }}<br>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
           <address>
            <strong>Pickup Date</strong><br>
            {{ object.pickup_date }}<br>
          </address>
          <address>
            <strong>Installation Date</strong><br>
            {{ object.installation_date }}<br>
          </address>
        </div>
        <div class="col-xs-6">
          <address>
            <strong>Delivery Date</strong><br>
            {{ object.delivery_date }}<br>
          </address>
        </div>
      </div>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item"
          frameborder="0" style="border:0"
          src="{{ gmap_url }}" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <a href="{% url 'installation-list' %}">
        <button type="button" class="btn btn-primary btn-block" aria-label="Left Align">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <strong>Installations</strong>
        </button>
      </a>
    </div>
    <div class="col-xs-6">
      <a href="{% url 'contractor-dates' object.id  %}">
        <button type="button" class="btn btn-danger btn-block" aria-label="Left Align">
          <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <strong>Edit Dates</strong>
        </button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
