{% extends 'installations/base.html' %}
{% block content %}
  <a href="{% url 'installation-list' %}">
    <button class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> <strong>Back to list</strong>
    </button>
  </a>
  <a href="{% url 'contractor-dates' object.id  %}">
    <button class="btn btn-warning pull-right">
      <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> <strong>Edit Dates</strong>
    </button>
  </a>

  <p></p>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">{{ object.name }}</h1>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <address>
              <strong>Status</strong><br>
              {{ status }}
            </address>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <address>
            <strong>Site Address</strong><br>
            {{ object.address_one }}<br>
            {{ object.address_two }}<br>
            {{ object.city }}<br>
            {{ object.county }}<br>
            {{ object.postcode }}<br>
          </address>
        </div>
        <div class="col-sm-6">
          <address>
            <strong>Contact</strong><br>
            {{ contact }}<br>
            {{ contact.phone }}<br>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
          </address>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <address>
            <strong>Delivery Date</strong><br>
            {{ object.delivery_date }}<br>
          </address>
          <address>
            <strong>Installation Date</strong><br>
            {{ object.installation_date }}<br>
          </address>
        </div>
        <div class="col-sm-6">
          <div>
            <strong>Products</strong><br>
            {% for product in products %}
              {{ product.quantity }} x {{ product.name }}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item"
          frameborder="0" style="border:0"
          src="{{ gmap_url }}" allowfullscreen>
        </iframe>
      </div>
    </div>
  </div>
{% endblock %}
