{% extends "emails/base.html" %}
{% block content %}

<h2>Hi {{ recipient }}</h2>

<p> 
  Thanks for confirming the installation week {{ date }}. 
  Please contact the customer to arrange installation 
  and confirm the dates of delivery and installation 
  in the form linked below.
</p>

<p>Customer: {{ customer_name }}, {{ number }} 
  <a href="mailto:{{ email }}">{{ email }}</a>
</p>

<p></p>
<table>
    <tr>
        <td align="center">
            <p>
                <a href="{{ form }}" class="button">Set Dates</a>
            </p>
        </td>
    </tr>
</table>
{% endblock %}
