{% extends "emails/base.html" %}
{% block content %}

<h2>Hi {{ recipient }}</h2>

<p> 
As the week beginning {{ date }} is not suitable, 
please contact the customer to arrange dates of delivery 
and installation and input them into the form linked below.
</p>

<p>Customer: {{ customer_name }}, {{ number }} 
  <a href="mailto:{{ email }}">{{ email }}</a>
</p>

<p></p>
<table>
    <tr>
        <td align="center">
            <p>
                <a href="{{ form }}" class="button">Set Dates</a>
            </p>
        </td>
    </tr>
</table>
{% endblock %}
