{% extends "emails/base.html" %}
{% block content %}

<h2>Hi {{ recipient }}</h2>

<p>We've received an order. The provisional week for delivery is {{ date }} (6 weeks from now).</p>

<p>Please confirm this is a good week for you to install.</p>

<p></p>

<table>
    <tr>
        <td align="center">
            <p>
                <a href="{{ yes }}" class="button">Confirm the date</a>
            </p>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td align="center">
            <p>
                <a href="{{ no }}" class="button button--red">Pick new date</a>
            </p>
        </td>
    </tr>
</table>
{% endblock %}
