Django==1.9
Markdown==2.6.5
argparse==1.2.1
cssutils==1.0.1
decorator==4.0.6
django-filter==0.11.0
django-mailbox==4.4.5
djangorestframework==3.3.2
ipdb==0.8.1
ipython==4.0.1
ipython-genutils==0.1.0
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pdfminer>=3
requests==2.9.0
simplegeneric==0.8.1
six==1.10.0
suds==0.4
traitlets==4.0.0
wsgiref==0.1.2
